*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    background-color: #D8D2C2;
    font-size: 25px;
}

.body-container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr 1fr auto;
}

.box{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

h5{
    text-decoration: underline;
}

.card{
    background-color: #3C3D37;
    color: white;
}

@media (min-width: 785px) {
    .body-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 20px;
    }

    .picture{
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }

    .box1{
        grid-row: 2 / 6;
        grid-column: 6 / span 6;
    }

    .box2{
        grid-row: 7 / 10;
        grid-column: 2/ 8;
    }

    .box3{
        grid-column: 8 / 12;
        grid-row: 7 / 10;
    }
}